@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&family=Rubik&display=swap');

.head {
  padding: 10px 10px 20px 10px;
  margin: 0px 0px 40px 0px;
  position: relative;
}

#logo {
  margin: 10px auto auto 10px;
  width: 10%;
  position: absolute;
  float: left;
}

.test {
  width: 1300px;
  display: table;
  height: 400px;
  overflow: hidden;
  margin: 80px auto auto auto;
}

.about {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#atitle {
  font-family: 'Londrina Shadow';
  font-size: 150px;
  margin-left: 12%;
  top: 40px;
  position: absolute;
  color: rgb(144, 214, 146, 0.7);
  text-decoration: italic;
}


.ab {
  position: absolute;
  text-align: justified;
  width: 30%;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 8px 30px 15px 30px;
  box-shadow: 8px 6px 8px rgb(0, 0, 0, 0.2);
  color: #1f1d1e;
  margin: 0;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #f5f5f5;
}

h2 {
  font-family: 'Bebas Neue';
  font-size: 40px;
  text-decoration: none;
  margin: 15px auto 8px auto;
}

p {
  font-family: 'Rubik';
}

#b1 {
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutimg {
  width: 30%;
  display: block;
  margin-right: 15%;
  float: right;
}

#heroes-title {
  font-family: Rubik;
  float: right;
  margin-right: 20%;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}
