@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Shadow&family=Oswald:wght@700&family=Rubik&display=swap');

img {
  height: 160px;
  display: block;
  margin: auto;
}

body {
  background-color: #f5f5f5;
}

.icon {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px 5px 15px;
  box-shadow: 8px 6px 8px rgb(0, 0, 0, 0.2);
  width: 20%;
  position: relative;
}

h1 {
  font-family: 'Londrina Shadow';
  text-align: center;
  font-size: 80px;
}


p {
  font-family: 'Oswald';
  text-align: center;
  font-size: 150%;
  text-decoration: bold;
}

.contain {
  max-width: 70%;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

#cat11 {
  position: relative;
  display: inline-block;
  float: left;
  padding: 10px;
}


#cat12 {
  position: relative;
  display: inline-block;
  padding: 10px;

}

#cat13 {
  position: relative;
  display: inline-block;
  float: right;
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
}
